---
layout: default
title: FAQ
contenu_html: >-
  <p>Compte-tenu des &eacute;v&eacute;nements actuels en France, la SPA souhaite
  r&eacute;pondre &agrave; toutes les questions que le public pourrait se poser
  au sujet de cette situation exceptionnelle en lien avec les animaux de
  compagnie, ainsi que le fonctionnement limit&eacute; de nos refuges, Maisons
  SPA et dispensaires.</p>
---

{%- include progress-bar.html -%}

  <!-- MOBILE -->
  <div class="home-mobile d-md-none">
      {%- include sidebar_mobile.html -%}

      <div class="bandeau-covid bg-urgence">
          <p class="text-center text-white">
            {{ page.title }} - Dernière mise à jour <span>{{ page.last_modified_at | date: '%d/%m/%y %H:%M' }}</span>
          </p>
      </div>
    <div class="row">
          <p class="col">
            {{ page.contenu_html }}
          </p>
      </div>
      <section class="posts">
                  {% for post in site.categories.faq %}
                  <article class="post {% if post.urgence_post %}urgence{% endif %}">
                      <div class="post-publication-time"><span>{{ post.date | date: '%d.%m.%Y'}}<small> {{ post.date | date: 'à %HH%M'}}</small></span></div>
                      <h1  class="post-title text-uppercase {% if post.urgence_post %}text-urgence{% else %}text-secondary{% endif %}">{{ post.title }}</h1>
                      <div class="post-content">{{ post.content }}</div>
                      {% for social in post.insertion_social %}
                      <div class="">{{ social.contenu_code_block }}</div>
                      {% endfor %}
                  </article>
                  {% endfor %}
      </section>
  </div>
  <!-- END MOBILE -->

  <!--DESKTOP-->
  <div class="home d-none d-md-block">

      <!--SIDEBAR-->
      {%- include sidebar_desktop.html -%}
      <!--END SIDEBAR-->

      <div class="content">

        <!-- NAVBAR DESKTOP -->
          {%- include navbar_desktop.html -%}
        <!-- NAVBAR DESKTOP END -->

          <div class="">
              <div class="row">
                  <div class="col">
                    <p class="">{{ page.contenu_html }}</p>
                </div>
                <div class="col">
                  <p class="">
                    {{page.title}} - Dernière mise à jour le
                    <span class="last-update-time text-condensed text-primary">{{ page.last_modified_at | date: '%d.%m.%Y' }}</span>
                  </p>
                </div>
            </div>
              <section class="row posts">

                <div class="col">
                  {% for post in site.categories.faq %}
                  <article class="post {% if post.urgence_post %}urgence{% endif %}">
                      <h1  class="post-title text-uppercase {% if post.urgence_post %}text-urgence{% else %}text-primary{% endif %}">{{ post.title }}</h1>
                      <div class="post-content">{{ post.content }}</div>
                      {% for social in post.insertion_social %}
                      <div class="">{{ social.contenu_code_block }}</div>
                      {% endfor %}
                      <div class="post-publication-time {% if post.urgence_post %}text-white{% endif %}">
                        <b>{{ post.date | date: '%d.%m.%Y'}}</b>
                        <br>
                        <small>{{ post.date | date: 'à %HH%M'}}</small>
                      </div>
                  </article>
                  {% endfor %}
                </div>

              </section>
          </div>

          <!--SIDEBAR-->
          {%- include content_footer.html -%}
          <!--END SIDEBAR-->
      </div>
  </div>
  <!-- END DESKTOP-->
