---
layout: default
title: "Nom de l'organisation - COVID-19"
sidebar:
  title: "Donec tincidunt risus ac volutpat lacinia."
  subtitle: "Neque porro quisquam est qui dolorem, ipsum quia dolor sit."
  gift_url: "https://iraiser.eu/?cid=11&reserved_code_origine=Webcovid"
  gift_texte: "JE FAIS UN DON"
  defiscalisation: "66% du montant de mon don sont déductibles de l'Impôt sur le Revenu, dans la limite de 20% du revenu net imposable."
contenu:
  people:
    face_image: "http://via.placeholder.com/100x100"
    name: "Prénom Nom,"
    job: "Fonction de la personne"
  introduction:
    title_html: |
      Neque porro quisquam est qui dolorem ,<br>ipsum quia dolor sit amet
    introduction_html: |
      Lorem ipsum dolor sit amet,<br> Consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. Aliquam eget ligula eu elit varius. onsectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. onsectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. onsectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia.
    contenu_html:  |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. Aliquam eget ligula eu elit varius.<br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. Aliquam eget ligula eu elit varius.<br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia. Aliquam eget ligula eu elit varius :<br>
        - Neque porro quisquam est qui dolorem,<br>
        - Neque porro quisquam est qui dolorem,<br>
        - Neque porro quisquam est qui dolorem.<br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia, consectetur adipiscing elit tincidunt risus ac volutpat lacinia. .<br><br>


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ac volutpat lacinia.
  subtitle:
    texte: "Covid 19 Loremp Ipsum"
---
  {%- include progress-bar.html -%}

  <div class="home-mobile d-md-none">

      <nav class="pl-3 pr-3 pt-2 pb-2">
          <div class="row">
              <div class="col-6">
                  <img class="logo-mobile" src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo"/>
              </div>
              <div class="col-6 text-right">
                  <a class="btn btn-don" href="{{ page.iraiser_url }}" role="button">JE FAIS UN DON</a>
              </div>
          </div>
      </nav>
      <div class="p-3 message-president">
          <p class="aujourdhui text-condensed text-bold text-center">AUJOURD’HUI PLUS QUE JAMAIS,<br>RÉPONDONS ENSEMBLE À L’URGENCE DE LA SOLIDARITÉ</p>
          <div class="row">
              <div class="col-sm-4 col-12">
                  <div class="text-center text-sm-right">
                      <img src="{{ "assets/img/president.png" | relative_url }}" alt="president"/>
                  </div>
              </div>
              <div class="col-sm-8 col-12">
                  <div class="d-none d-sm-block d-md-none"><br></div>
                  <p class="text-center text-sm-left president-text"><span class="text-bold text-condensed">Jean-Baptiste Favatier,</span><br> Président de l’Ordre de Malte France</p>
              </div>
          </div>
          <p>Les personnes les plus fragiles, notamment sans abri ou en situation de grande précarité, ont plus que jamais besoin de notre soutien et de notre secours.<br><br>

              Soyons clairs : dans ce contexte, nous risquons de voir notre collecte de dons baisser, alors que nous avons justement besoin de la générosité de tous pour mener nos actions vitales !<br><br>

              Voilà pourquoi je vous sollicite : dans cette épreuve, il nous faut compter sur la solidarité de chacun. C’est à ce prix que nous réussirons à :<br>
              - maintenir les missions de nos 10 000 bénévoles, telles que les maraudes sociales et médicalisées,<br>
              - assurer les activités de nos 1 400 secouristes à pied d’œuvre depuis le début de la crise,<br>
              - répondre aux besoins déjà grandissants et qui risquent d’exploser.<br><br>

              Le Président de la République en appelait à la solidarité des grandes associations, et nous pouvons être fiers d’en faire partie. Mais aujourd’hui, votre don est essentiel.<br><br>


              D’avance, un grand merci de nous aider à continuer de mobiliser toutes nos forces au service des plus fragiles, dans cette crise sans précédent.
          </p>
      </div>
      <div class="bandeau-covid">
          <p class="text-center">
            COVID-19* - Dernière mise à jour <span>{{ page.last_modified_at | date: '%d/%m/%y %H:%M' }}</span>
          </p>
      </div>
      <section class="posts">
                  {% for post in site.posts %}
                  <article class="post {% if post.urgence_post %}urgence{% endif %}">
                      <div class="post-publication-time"><span>{{ post.date | date: '%d.%m.%Y'}}<small> {{ post.date | date: 'à %HH%M'}}</small></span></div>
                      <h1  class="post-title text-uppercase">{{ post.title }}</h1>
                      <div class="post-content">{{ post.content }}</div>
                  </article>
                  {% endfor %}
      </section>
  </div>




  <div class="home d-none d-md-block">
      <aside class="right-menu">
          <div class="right-container">
              <div>
                  <img class="logo mb-5" src="{{ site.data.configuration.logo_image | relative_url }}" alt="logo"/>
              </div>
              <p class="ensemble text-center">
                <span class="text-bold">{{ page.sidebar.title }}</span>
                <br>
                <small>{{ page.sidebar.subtitle }}</small>
              </p>
              <a class="btn btn-don mb-3 mt-1" href="{{ page.sidebar.gift_url }}" role="button">{{ page.sidebar.gift_texte }}</a>
              <p class="remise">{{ page.sidebar.defiscalisation}}</p>
          </div>
      </aside>
      <div class="content">
          <header class="message-president">
              <div class="row">
                  <div class="col-sm-12 col-md-3 text-center">
                      <div class="text-center mt-4">
                          <img src="{{ page.contenu.people.face_image | relative_url }}" alt="president"/>
                      </div>
                      <p class="text-center president-text"><span class="text-bold text-condensed">{{ page.contenu.people.name }}</span> {{ page.contenu.people.job }}</p>
                  </div>
                  <div class="col-sm-12 col-md-9">
                      <p class="aujourdhui text-bold text-condensed text-uppercase">{{ page.contenu.introduction.title_html }}</p>
                      <p class="chers-amis">
                        {{ page.contenu.introduction.introduction_html }}
                      </p>
                      <p id="click-to-expand">
                        {{ page.contenu.introduction.contenu_html}}
                      </p>
                      <div class="text-center mv-3">
                          <img id="arrow-down" class="arrow-down" src="{{ "assets/img/arrow-down.png" | relative_url }}" alt="fleche vers le bas"/>
                      </div>
                  </div>
              </div>
          </header>


          <div class="blog">
              <p class="covid-19 text-bold">{{ page.contenu.subtitle.texte }}</p>

              <p class="last-update">Dernière mise à jour <span class="last-update-time text-condensed">{{ page.last_modified_at | date: '%d.%m.%Y' }}</span></p>
              <section class="posts">

                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="actualite faq">Actualités</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="faq actualite">FAQ</button>

                <div class="collapse multi-collapse show" id="actualite">
                  <div class="card card-body">
                    {% for post in site.categories.actualite %}
                    <article class="post {% if post.urgence_post %}urgence{% endif %}">
                        <h1  class="post-title text-uppercase">{{ post.title }}</h1>
                        <div class="post-content">{{ post.content }}</div>
                        <div class="post-publication-time"><b>{{ post.date | date: '%d.%m.%Y'}}</b><br><small>{{ post.date | date: 'à %HH%M'}}</small></div>
                    </article>
                    {% endfor %}
                  </div>
                </div>

                <div class="collapse multi-collapse" id="faq">
                  <div class="card card-body">
                    {% for post in site.categories.faq %}
                    <article class="post {% if post.urgence_post %}urgence{% endif %}">
                        <h1  class="post-title text-uppercase">{{ post.title }}</h1>
                        <div class="post-content">{{ post.content }}</div>
                        <div class="">{{ post.insertion_social.contenu_code_block }}</div>

                        </div>
                        <div class="post-publication-time"><b>{{ post.date | date: '%d.%m.%Y'}}</b><br><small>{{ post.date | date: 'à %HH%M'}}</small></div>
                    </article>
                    {% endfor %}
                  </div>
                </div>

              </section>
          </div>
      </div>
  </div>
