<div class="footer">
  <div>
    <p class="element">SUIVEZ-NOUS</p>
    <span class="separator">|</span>
    <a class="rs" href="{{site.data.configuration.footer.rs.fb.link}}" target="_blank">
      <img src="{{site.data.configuration.footer.rs.fb.img}}" alt="{{site.data.configuration.footer.rs.fb.alt}}" />
    </a>
    <a class="rs" href="{{site.data.configuration.footer.rs.tw.link}}" target="_blank">
      <img src="{{site.data.configuration.footer.rs.tw.img}}" alt="{{site.data.configuration.footer.rs.tw.alt}}" />
    </a>
  </div>

  <div>
    <span class="separator">|</span>
    <a href="#" class="element" data-toggle="modal" data-target="#cgu">{{ site.data.configuration.popup.cgu.titre }}</a>
    <span class="separator">|</span>
    <a href="#" class="element" data-toggle="modal" data-target="#privacy">{{ site.data.configuration.popup.privacy.titre }}</a>
  </div>
</div>
