<header class="bg-tertiary text-white message-president">
    <div class="row">
        <div class="col-sm-12 col-md-3 text-center">
            <div class="text-center mt-4">
                <img src="{{ site.data.configuration.edito.people.face_image | relative_url }}" alt="president"/>
            </div>
            <p class="text-center president-text"><span class="text-bold text-condensed">{{ site.data.configuration.edito.people.name }}</span> {{ site.data.configuration.edito.people.job }}</p>
        </div>
        <div class="col-sm-12 col-md-9">
            <p class="aujourdhui text-bold text-condensed text-uppercase">{{ site.data.configuration.edito.introduction.title_html }}</p>
            <p class="chers-amis">
              {{ site.data.configuration.edito.introduction.introduction_html }}
            </p>
            <p id="click-to-expand">
              {{ site.data.configuration.edito.introduction.contenu_html}}
            </p>
            <div class="text-center mv-3">
                <img id="arrow-down" class="arrow-down" src="{{ "assets/img/arrow-down.png" | relative_url }}" alt="fleche vers le bas"/>
            </div>
        </div>
    </div>
</header>
