<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-brand">
    COVID-19
    <img src="{{ site.data.configuration.navbar_icon | relative_url }}" class="d-inline-block align-middle" alt="">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100">
      <li class="nav-item {% if page.url == '/' %}active{% endif %}">
        <a class="nav-link text-uppercase" href="/">
          <img src="{{ site.data.configuration.navbar_icon_active | relative_url }}" />
          Direct
        </a>
      </li>
      <li class="separator"></li>
      <li class="nav-item {% if page.url == '/faq.html' %}active{% endif %}">
        <a class="nav-link text-uppercase " href="/faq.html">
          FAQ
        </a>
      </li>
      <li class="separator"></li>
      <li class="nav-item {% if page.url == '/appel.html' %}active{% endif %}">
        <a class="nav-link text-uppercase" href="/appel.html">
          L'appel de la SPA
        </a>
      </li>
      <li class="nav-item ml-auto">
        <div class="newsletter d-flex flex-row w-100 align-items-center">
          <p class="mb-0 pr-1" id="newsletter-title">{{ site.data.configuration.sidebar.newsletter.title }} : </p>
          <form class="form-inline" target="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}" id="form-newsletter">
            <input type="text" class="w-85 form-control" id="input-newsletter" placeholder="Votre email" required>
            <button type="submit" class="w-15 btn btn-primary" id="button-newsletter">OK</button>
          </form>
          <div id="newsletter-ok">
            <p>{{ site.data.configuration.sidebar.newsletter.message_ok }}</p>
          </div>
        </div>



        <!-- <div class="newsletter">
          <p>{{ site.data.configuration.sidebar.newsletter.title }}</p>
          <form class="form-inline" target="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}" id="form-newsletter">
            <input type="text" class="w-85 form-control mb-2" id="input-newsletter" placeholder="Votre email" required>
            <button type="submit" class="w-15 btn btn-primary mb-2 " id="button-newsletter">OK</button>
          </form>
          <div id="newsletter-ok">
            <p>{{ site.data.configuration.sidebar.newsletter.message_ok }}</p>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</nav>
