@charset "utf-8";

$transitionSpeed: 0.4s;

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
}

.hidden {
	visibility: hidden !important;
}

.video-responsive {
	overflow:hidden;
	padding-bottom:100%;
	position:relative;
	height:0;
}

.video-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.navbar {
	padding: 0;
	background-color: $orange;

	.navbar-brand {
		padding: .5rem 1rem;
		font-family: $bodyFontSecondary;
		font-size: 38px;
		text-transform: uppercase;
		font-weight: 700;
		color: $white !important;
	}

	#navbarSupportedContent {
		padding: .5rem 1rem;
		background-color: $dark-orange;
		height: 72px;

		.navbar-nav {
			align-items: center;
		}

		.separator {
			height: 20px;
			width: 1px;
			border-right: 1px solid $black;
			margin: 0 22px 0 22px;
		}

		.nav-item {
			img {
				margin-bottom: 4px;
			}
			&.active {
				color: $white !important;

				.nav-link {
					color: $white !important;
				}

			}

			.nav-link {
				color: $marron;
				font-family: $bodyFontSecondary;
				font-weight: 700;
				font-size: 16px;
				line-height: 1em;

				&:hover {
					color: $white !important;
				}
			}
		}

	}
}

.btn {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-font-smoothing: subpixel-antialiased;

	&:hover {
		transform: scale(1.02);
	}
}

.btn-don {
	color: #fff;
	border-radius: 8px;
	width: 100%;
	font-weight: bold;
	padding: 7px 0;
	border: 1px solid transparent;
	letter-spacing: 0.01rem;
	font-family: $bodyFontSecondary;
}

.text-bold {
	font-weight: bold;
}

.text-condensed {
	letter-spacing: 0.01rem;
}

.right-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #F8F8F8;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: $sidebarWidth;

	> div {
		padding: 20px 20px 0;
		width: 100%;
		max-width: 100%;
	}

	.je-donne {
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 0.01em;
		color: $marron;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.don-frequency {
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 0.01em;
		color: $marron;
		text-align: center;
		text-transform: uppercase; 
	}

	.custom-control-label::before {
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
	}
	.custom-control-label::after {
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
	}
	.custom-control-input[name="don-frequency"] {
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
	}

	.flex-1 {
		flex: 1;
	}

	.btn.link-don {
		font-family: $bodyFontSecondary;
		font-size: 20px;
		font-weight: bold;
		color: $marron;
		padding: 15px 10px;
		border: 1px solid $primary;
		background: $white;

		&:hover, &.active {
			background-color: $primary;
			color: $white !important;
			transform: none !important;
		}

		&.btn-primary {
			color: $white !important;
		}
	}

	.form-free-amount {
		input {
			font-size: 14px;
			color: $marron;
			font-family: $bodyFontSecondary;
			padding: 30px 15px;
			border-radius: 10px
		}

		.button-free-amount {
			background-color: $primary;
			color: $white;
			text-transform: uppercase ;
			font-family: $bodyFontSecondary;
			font-weight: bold;
			font-size: 20px;
			padding: 16px 5px;
			border-radius: 10px
		}
	}

	.ensemble {
		font-size: 18px;
		line-height: 1.2;
		color: $marron;

		.title {
			font-weight: bold;
		}
		.subtitle {
		}
	}

	.remise {
		font-size: 12px;
		text-align: center;
		color: $marron;
		margin: 0;

		.calculated-amount-container {
			color: $primary;
			font-weight: bold;
		}
	}

	.monthly-gift-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-font-smoothing: subpixel-antialiased;

		&:hover {
			transform: scale(1.02);
			p {
				backface-visibility: hidden;
				color: $marron;
				text-decoration: underline;
			}
		}

		img {
			margin-right: 10px;
		}

		p {
			color: $marron;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			margin: 0;
		}
	}

}

// CHEVRON
.chevron::before {
	border-style: solid;
	border-width: 0.20em 0.20em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
	color: $primary;
}

.chevron.right:before {
	left: -20px;
	top: 0.55em;
	transform: rotate(45deg);
}
.chevron.up:before {
	transform: rotate(-45deg);
}
//CHEVRON

// SUMMARY 
.summary {
	padding: 5px 40px;

	.tag-title {
		font-family: 'Adopte';
		font-size: 30px;
		color: $orange;
		margin-bottom: 0;
	}

	.tag-questions {

		.tag-questions-item {
			font-family: 'Roboto';
			font-size: 16px;
			color: $marron;
		}
	}
}
// SUMMARY

.content {
	padding-right: $sidebarWidth;

	.message-president {
		padding: 20px;

		.president-text {
			font-size: 14px;
			display: inline-block;
			max-width: 200px;
			font-family: $bodyFontSecondary;
			padding-top: 5px;
		}

		.aujourdhui {
			font-size: 20px;
			font-family: $bodyFontSecondary;
		}

		.chers-amis {
			font-size: 18px;
		}

		.arrow-down {
			cursor: pointer;
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(0deg)
		}

		.arrow-down.active {
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(-180deg)
		}

		#click-to-expand {
			font-size: 18px;
			max-height: 0px;
			-webkit-transition: max-height $transitionSpeed ease-in-out;
			-moz-transition: max-height $transitionSpeed ease-in-out;
			-ms-transition: max-height $transitionSpeed ease-in-out;
			-o-transition: max-height $transitionSpeed ease-in-out;
			transition: max-height $transitionSpeed ease-in-out;
			overflow: hidden;
		}
		#click-to-expand:hover {
			height:auto;
			max-height:1000px;
		}
	}

	.blog {
		position: relative;

		.covid-19 {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			font-size: 50px;
			padding: 0 20px;
		}

		.last-update {
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 0;
			font-size: 14px;
			padding: 5px;
			color: $marron;

			span {
				color: $orange;
				font-size: 18px;
				font-weight: bold;
				font-family: $bodyFontSecondary;
				padding-left: 0.6rem;
			}
		}



		.posts {
			padding: 95px 20px 20px 20px;
			color: $marron;

			.post {
				position: relative;
				padding: 20px 20px 0 150px;

				.container-images {
					position: relative;

					img {
					}

					/* one item */
					img:first-child:nth-last-child(1) {
						/* -or- li:only-child { */
						width: 80%;
					}

					/* two items */
					img:first-child:nth-last-child(2),
					img:first-child:nth-last-child(2) ~ img {
						width: 49%;

					}

					/* three items */
					img:first-child:nth-last-child(3),
					img:first-child:nth-last-child(3) ~ img {
						&:first-child {
							width: 74.5%;
							position: static;
							float: none;
						}
						&:nth-child(2) {
							width: 25%;
							top: 0;
							right: 0;
						}
						&:nth-child(3) {
							width: 25%;
							top: 50%;
							right: 0;
						}
						width: 25%;
						position: absolute;
						max-height: 45%;
					}

					/* four items */
					img:first-child:nth-last-child(4),
					img:first-child:nth-last-child(4) ~ img {
						width: 49%;
						margin-bottom: 5px;
					}
				}


				.post-publication-time {
					padding-left: 23px;
					position: absolute;
					left: -20px;
					top: 23px;
					line-height:1;

					b {
						font-size: 18px;
					}
				}

				&.urgence .post-publication-time {
					background: $urgenceBg;
				}

				.post-title {
					font-weight: bold;
					font-size: 42px;
					font-family: $titleFontPrimary;

				}

				.post-content {
					font-size: 16px;
				}
			}
		}
	}
}

.footer {
	padding: 20px 30px;
	position: relative;
	margin-right: 400px;
	background-color: $white;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		display: flex;
		align-items: center;
	}

	.rs {
		margin: 0 10px;


		img {
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			-webkit-font-smoothing: subpixel-antialiased;
			&:hover {
				transform: scale(1.1);

			}
		}


	}

	.element {
		display: inline-flex;
		text-transform: uppercase;
		color: $marron;
		font-size: 16px;
		margin: 0;
		font-family: $bodyFontSecondary;
	}

	.separator {
		display: inline-flex;
		color: $black;
		opacity: 0.1;
		margin: 0 15px;
		font-family: $bodyFontSecondary;
	}
}

.faq-page {
	.heading {
		background-image: $faqBg;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 65vh;
		padding: 80px;
		position: relative;
		width: 100%;
		margin: 0 0 40px;

		p {
			font-size: 22px;
			color: $white;
			font-weight: 600;
		}

		.page-time {
			position: absolute;
			top: 10px;
			right: 20px;

			p {
				font-weight: normal;
				font-size: 16px;
				span {
					font-weight: bold;
					color: $white;
				}
			}
		}
	}

	.posts {
		padding: 40px;

		.anchor {
			position: absolute;
			top: 5px;
			right: -50px;
		}

		.scroll-to-top {
			border: 1px solid $marron;
			border-radius: 50%;
			height: 40px;
			width: 40px;

			&::before {
				color: $marron;
				border-width: 0.10em 0.10em 0 0;
				left: 0.23em;
				top: 0.35em;			
			}
		}

		.post {
			margin-bottom: 60px;

			.post-title {
				color: $orange;
				font-weight: bold;
				font-size: 42px;
				font-family: $titleFontPrimary;
			}

			.post-content {
				color: $marron;
				font-size: 18px;
			}
		}


	}
}

//NEWSLETTER
.newsletter {
	p {
		font-size: 14px;
		font-family: $bodyFont;
		color: white;
		font-weight: bold;
		line-height: 1em;
	}

	form {
		flex-flow: row;
	}

	input {
		color: $marron;
		width: 85%;
		border-radius: 10px 0 0 10px;

		&.red-border {
			border: 1px solid red;
		}
	}
	button {
		border-radius: 0 10px 10px 0;
		width: 15%;
		color: $white;
		padding: .375rem .55rem;
	}

	#newsletter-ok {
		display: none;

		p {
			font-family: $bodyFont;
			line-height: 1.2;
			color: white;
			font-size: 22px;
			font-weight: bold;
			margin-bottom: 0;
		}
		
	}
}
//NEWSLETTER

.appel-page {
	.heading {
		background-image: $appelBg;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 65vh;
		padding: 80px;
		width: 100%;
		margin: 0 0 40px;

		.title {
			font-family: $titleFontPrimary;
			font-weight: bold;
			line-height: 1;
			font-size: 50px;
			color: $white
		}
		.subtitle {
			line-height: 1.1;
			padding: 4px;
			font-weight: 600;
			background-color: $orange;
			font-size: 28px;
			width: 360px;
			color: $white;
			max-width: 100%;
		}
		.name {
			font-size: 18px;
			font-family: $bodyFontSecondary;
			margin: 0;
		}
		.jobtitle {
			font-size: 18px;
			color: $white;
			font-family: $bodyFontSecondary;
		}

	}

	.content-letter {
		padding-bottom: 40px;

		.btn-don {
			display: block;
			width: 500px;
			max-width: 100%;
			margin: 30px auto;
			text-transform: uppercase;
			font-size: 26px;
		}
		p {
			color: $marron;
			font-size: 18px;
		}
		.name {
			color: $primary;
			font-family: $bodyFontSecondary;
			font-weight: 600;
			margin: 0;
		}
	}
}

// ################ Mobile

.page-mobile {
	padding-top: 90px;
	max-width: 100%;

	.posts {
		padding: 10px;
	}

	.btn-don-fixed-mobile {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		border-radius: 0;

		text-transform: uppercase;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;

		.nav-mobile {
			width: 100%;
			padding: 0;
			margin: 0;

			.navbar-toggler {
				padding: 0;

				span {
					color: $white;
				}
			}
		}

		.logo-container {
			background-color: $white;
			padding: 5px 10px 5px;
			text-align: center;

			.logo-mobile {
				height: 50px;
			}
		}

		.right {
			padding: 5px 10px 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.brand {
				font-family: $bodyFontSecondary;
				font-size: 34px;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 1;
				color: $white !important;

				img {
					margin-bottom: 5px;
				}

			}
		}


		.btn-don {
			margin-top: 5px;
		}

		#navbarSupportedContent23 {

			.inner{
				height: 100vh;
				background-color: $dark-orange;
				-webkit-box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.75);
				box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.75);
			}

			li {
				width: 100%;
				padding: 20px 30px;
				font-size: 22px;
				font-family: $bodyFontSecondary;
				color: $white;
				font-weight: bold;
				border-bottom: 1px solid rgba(0,0,0,0.3);

				a {
					color: $white !important;
				}
			}

			.newsletter {
				width: 80%;
				margin: 0 auto;
				text-align: center;
				padding-top: 40px;
				padding-bottom: 40px;

				form {
					position: static;
					min-width: 260px;
					max-width: 100%;
				}

				input {
					color: $marron;
					width: 85%;
					border-radius: 10px 0 0 10px;

					&.red-border {
						border: 1px solid red;
					}
				}
				button {
					border-radius: 0 10px 10px 0;
					width: 15%;
					color: $white;
					padding: .375rem .55rem;
				}

				p {
					width: 300px;
					max-width: 100%;
					line-height: 1;
					margin: 0 auto 15px;
					color: $white;
					font-family: $titleFontPrimary;
					font-weight: bold;
					font-size: 28px;

					span {
						font-family: $bodyFont;
						font-weight: normal;
						font-size: 14px;
					}
				}

				#newsletter-ok-mobile {
					display: none;

					p {
						font-family: $bodyFont;
						line-height: 1.2;
						color: $marron;
						font-size: 22px;
						font-weight: bold;
					}
				}
			}


		}
	}
}

.home-mobile {

	.message-president{
		padding: 20px;

		.aujourdhui{
			font-family: $bodyFontSecondary;
		}
	}


	.bandeau-covid {
		background-color: $marron;

		p {
			font-size: 12px;
			font-weight: bold;
			padding: 5px;
		}
	}

	.posts {

		.post {
			margin-bottom: 40px;

			.container-images {
				img {
					width: 80%;
					margin-bottom: 10px;
				}
			}

			.post-publication-time {
				color: $orange;
				margin: 10px 0;

				span {
					background-color: rgba(53, 66, 83, 0.1);
					padding: 5px;

					small {
						color: $marron;
					}
				}
			}

			&.urgence .post-publication-time {
				span {
				}
			}
			.post-title {
				font-weight: bold;
				font-size: 32px;
				font-family: $titleFontPrimary;
				color: $marron;
			}

			&.urgence .post-title {
			}

			.post-content {
				font-size: 16px;
				padding-left: 15px;
				border-left: 5px dotted $secondary;

				p {
					color: $marron;
				}
			}

			&.urgence .post-content {
				border-left: 5px dotted $urgence;
			}
		}
	}
}

.faq-page-mobile {
	.heading {
		width: 100%;
		margin: 0;
		padding: 10px;

		p {
			color: $marron;
		}
	}

	.post-publication-time {
		color: $orange;
		margin: 10px 0;

		span {
			background-color: rgba(53, 66, 83, 0.1);
			padding: 5px;

			small {
				color: $marron;
			}
		}
	}

	.posts {
		.post {
			.post-title {
				font-weight: bold;
				font-size: 32px;
				font-family: $titleFontPrimary;
				color: $orange;
			}
			.post-content {
				color: $marron;
			}

		}
	}
}

.appel-mobile {
	.heading {
		margin: 0 0 40px;

		.title {
			font-family: $titleFontPrimary;
			font-weight: bold;
			line-height: 1;
			font-size: 42px;
			color: $orange;
		}
		.subtitle {
			line-height: 1.1;
			padding: 4px;
			font-weight: 600;
			background-color: $orange;
			font-size: 28px;
			width: 360px;
			color: $white;
			max-width: 100%;
		}
	}

	.content-letter {
		padding: 10px 10px 40px;

		.btn-don {
			display: block;
			width: 500px;
			max-width: 100%;
			margin: 30px auto;
			text-transform: uppercase;
			font-size: 26px;
		}
		p {
			color: $marron;
			font-size: 18px;
		}
		.name {
			color: $primary;
			font-family: $bodyFontSecondary;
			font-weight: 600;
			margin: 0;
		}
	}
}
