---
---
@charset "utf-8";

$sidebarWidth: {{ site.data.configuration.sidebar_size_number }}px;
$red: {{ site.data.configuration.primary_color }};
$blue: {{ site.data.configuration.secondary_color }};
$bodyFont: '{{ site.data.configuration.police.primary_declaration }}', sans-serif;
$bodyFontSecondary: '{{ site.data.configuration.police.secondary_declaration }}', sans-serif;
$urgenceBg: url('{{ site.data.configuration.urgence_image }}');
$dateBg: url('{{ site.data.configuration.date_image }}');
@import 'bootstrap/bootstrap';
@import "main";
